#title {
  background-image: url(/images/american-flag-65.jpg);
  height: 60vh;
  margin-top: -2em;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.canddiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 75%;
  margin-top: 25px;
  flex-direction: row;
  margin-left: 13%;
}

#title {
  font-family: "Merienda One", cursive;
  text-align: center;
  font-size: 40px;
  color: white;
  text-shadow: 4px 4px 6px black;
}

#title h1 {
  margin: 0px;
  margin-top: 80px;
}

.nav {
  margin-top: 2em;
  text-align: center;
  font-size: 20px;
}

.para {
  font-size: 20px;
  font-family: "Merriweather", serif;
  text-align: center;
}

.CandidateImages {
  border-radius: 50%;
  background-color: darkgray;
}

.idiot {
  text-align: center;
  font-size: 20px;
  font-family: "Merriweather", serif;
}
.hide {
  visibility: hidden;
}
.politician img {
  width: 100vw;
  height: 80vh;
}

.button {
  border: none;
  padding: 8px;
  font-size: 18px;
  font-weight: bold;
  background-color: orangered;
  color: white;
  border-radius: 12px;
}

.polbutton {
  padding: 10px;
  font-size: 22px;
  border: none;
  background-color: purple;
  background-image: linear-gradient(purple, plum);
  color: white;
  text-decoration: none;
  border-radius: 7px;
  font-weight: bolder;
  border-radius: 3px;
  box-shadow: 0px 1px 4px -2px #333;
  text-shadow: 0px -1px #333;
}

.polbutton:after {
  content: "";
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: 50%;
  background: linear-gradient(
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.2)
  );
}
.polbutton:hover {
  background: linear-gradient(#073, #0fa);
}
.video {
  margin-top: 25px;
  background-color: black;
}
.noDisplay {
  display: none;
}
